node_modules
.env
.env.*
db_dump.sql
learn-x.pem
schema.txt
CLAUDE.md
Code Guru PRD (2).pdf
settings.local.json
neondb-latest-schema.dump
*.dump
*.pem
.claude
PRD - Code Guru - phase-2.pdf
workspaces
Code Editor Architecture.md
Codeguru Architecture.md
coding-standard.md
CodeGuru Requirements Document - June 2026.md

# Testing and Scratch files
*test*.js
*check*.js
socket-test.js
test-db.js
schema_check.js

# Database dumps
db_dump.json
*.json.dump

/modules